<div class="data-form">
 <form class="form-signin" action="/courses/create" method="POST"> 
  <h2 class="form-signin-heading">Create a new course:</h2>
   <label for="inputTitle">Title</label>
   <input type = "text" name = "title" id = "inputTitle" placeholder="Title" autofocus>
   <label for="inputDescription">Description</label>
   <input type = "text" name = "description" id = "inputDescription" placeholder="Description">
   <label for="inputItems">Items</label>
   <input type = "text" name = "items" id = "inputItems" placeholder="Items" required>
   <label for="inputZipCode">Zip Code</label>
   <input type = "text" name = "zipCode" id = "inputZipCode" pattern= "\d*" placeholder="Zip Code" required>
   <button type="submit">Create</button>
  </form>
</div> 
  
   
  


