<div class="container">
  <div class="col-sm-6">
    <img src="images/people.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Welcome!</h1>
    <p> Please check out all the cool new courses by our innovative and creative chefs.</p>
    <p> If you want to see a new course, click <a href="/courses.html">the courses page</a> and explore!</p>
    <p> When you see a course you like you can <a href="/contact.html">contact us to join! </a> Soon you'll be cooking in your own home.</p>
  </div>
 
<div class="data-form">
 <form action="/users/create" method="POST"> 
  <h2>Create a new user:</h2>
   <label for="inputFirstName">First Name</label>
   <input type = "text" name = "first" id = "inputFirstName" placeholder="First" autofocus>
   <label for="inputLastName">Last Name</label>
   <input type = "text" name = "last" id = "inputLastName" placeholder="Last">
   <label for="inputPassword">Password</label>
   <input type = "password" name = "password" id = "inputPassword" placeholder="Password" required>
   <label for="inputEmail">Email Address</label>
   <input type = "email" name = "email" id = "inputEmail" placeholder="Email Address" required>
   <label for="inputZipCode">Zip Code</label>
   <input type = "text" name = "zipCode" id = "inputZipCode" pattern= "\d*" placeholder="Zip Code" required>
   <button type="submit">Sign in</button>
  </form>
</div> 
  
   
  


